* {
    box-sizing: border-box;
  
}

.menu-group {
    width: 400px; 
}

.texto {
    height: 60px;
    overflow: hidden;
}
.altura {
    height: 150px;
}

h1 {
    font-size: 25px;
    border: 1px solid blue;
    background-color: aqua;
    color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}